@import'./_b.less';
//layout
.layout {
	padding-bottom: 70px;
}
//首页样式
.index {
	.img-menu {
		margin-top: 6px;
		background: #fff;
		padding : 10px 0;
		text-align: center;
		color: #666;
		img {
			width: 30px;
			height: 30px;
		}
		p {
			font-size: .8em;
		}
	}
}
//会员中心
.user-center {
	padding-bottom: 70px;
	header {
		padding : 15px 20px;
		background: @themeColor;
		color: #fff;
		img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin-right: 15px;
			border : 2px solid #fff;
		}
		h1 {
			p {
				margin-bottom: 6px;
			}
		}
	}
	.account-info {
		padding :10px 15px;
		background: #fff;
		text-align: center;
		h1 {
			font-size: 12px;
			color: #666;
			margin-bottom: 6px;
		}
		p {
			font-size: .5em;
			.red();
			span {
				font-size: .9em;
			}
		}
	}
}
//推广二维码
.share-qr-code {
	.container {
		width: 90%;
		padding : 10px;
		margin : 10px auto;
		background: #fff;
		text-align: center;
		img {
			width: 80%;
		}
	}
}
//收支明细
.budget-detail {
	padding-top : 90px;
	.drown-menu {
		position: fixed;
		top: 46px;
		width: 100%;
		height: 40px;
	}
}